/*variables palette*/
$color-nomination-title:#FFF5E9;
$color-burger-shadow:#FF5C00;
$color-burger-background:#FFD5A2;

/*variables animation*/
$duration-flower-rotation:10s;
$duration-section-opacity:1s;
$duration-section-translate:2s;
$duration-title-translate: 0.5s;
$duration-title2-translate: 1s;
$duration-float-animation: 2s;

/*variables responsive*/
$breakpoint__laptop: 1192px;
$breakpoint__tablet: 1040px;
$breakpoint__small_tablet: 920px;
$breakpoint__large_phone: 700px;
$breakpoint__small_phone: 570px;